$primary-color: #ff8c00;
$secondary-color: #0969a2;
$top-menu-link-color: #fff;
$standart-grey-color: #ccc;
$white-color: #fff;
$black-color: #000;
$little-shadow-color: rgba(34, 25, 25, .4);
$little-shadow: 0 0 1px $little-shadow-color;
$little-inset-shadow: inset 0 1px 1px 0 lighten($standart-grey-color, 10%);
$search-line-height: 20px;
$volume-backround-color: rgba($white-color, .5);
