@import 'vars';

@mixin control-button($url) {
  background: url($url) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  float: left;
  height: 100%;
  margin-right: 10px;
  outline: none;
  user-select: none;
  width: 25px;
}

// As using lisp-case is not convenient in js with css-modules
// sass-lint:disable class-name-format
.streamContainer {
  position: relative;

  .underlay {
    background-color: $black-color;
    height: 100%;
    text-align: center;
    width: 100%;
  }

  .overlay {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    .overlayControls {
      bottom: 10px;
      height: 20px;
      left: 10px;
      position: absolute;

      .play {
        @include control-button('/play.svg');
      }

      .pause {
        @include control-button('/pause.svg');
      }

      .sound {
        @include control-button('/sound.svg');
      }

      .noSound {
        @include control-button('/no-sound.svg');
      }

      .volume {
        background-color: $volume-backround-color;
        cursor: pointer;
        float: left;
        height: 6px;
        margin-top: 6px;
        outline: none;
        user-select: none;
        width: 100px;

        .volumeBar {
          background-color: $white-color;
          border-right: 1px solid $secondary-color;
          height: 100%;
        }
      }
    }
  }
}
